@import "../../modules/_base.scss";
.g-map{
    height:320px;
    margin-bottom:30px;
    @include transition(box-shadow .3s ease);

    &:hover{
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .g-map__title {
        line-height: 1.2;
        overflow: hidden;
        white-space: nowrap;
    }
}