@import "../../modules/_base.scss";
/*Homepage info section*/
.b-home{
    margin-bottom:30px;
    @extend .g-clearfix;

    @include media($desktop){
        padding-top:15px;
        margin-bottom:50px;
    }
}

.b-home__main,
.b-home__side{
    @extend .g-column;
    @extend .g-resp-text;

    @include media($tablet){
        width:(100%-$grid-gutter)/2;
    }
}

.b-home__main{
    @include media($desktop){
        padding-right:30px;
    }
}

.b-home__side{
    @include media($tablet){
        margin-left:$grid-gutter;
    }
    @include media($desktop){
        padding-left:70px;
    }
}

.b-home__title{
    @extend .g-title;
    @include font-size(26px);
    padding-bottom:20px;
    border-bottom:2px solid $primary-alt;
    text-transform:uppercase;
}


/*Homepage side items*/
.b-item{}
.b-item__thumb{
    &:hover,
    &:active{
        .b-item__img{
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
    }
}
.b-item__img{
    @include transition(box-shadow .3s ease);
}

.b-item__title{
    display:block;
    margin:15px 0 8px;
    line-height:1.1;
    text-decoration:none;
    @include font-size(21px);
    color:$primary-alt;
    font-family:$font-alt;
    font-weight:400;

    a{
        color:$primary-alt;
        text-decoration:none;

        &:hover,
        &:active{
            color:$primary;
        }
    }
}