@import "base";
/* Forms */

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    display:inline-block;
    vertical-align:middle;
    width:100%;
    margin-bottom:$project-line-height;
    padding:6px 0;
    background-color: #fff;
    border:none;
    border-bottom: 1px solid $border-color;
    border-radius:0;
    color:$text-color;
    box-shadow: none;
    box-sizing: border-box;
    font-family:$font-alt;
    @include font-size(18px);

    @include placeholder{
        color:#888888;
        text-overflow:ellipsis;
    }

    &:hover,
    &:focus{
        border-color:$primary;
        outline:0;
    }

    &:focus{
        box-shadow:0 6px 3px -3px rgba($primary, .5);
    }

    &:disabled{
        border-color:$border-color;
        box-shadow:inset 0 -20px 10px -10px rgba($border-color, .6);
    }

    &.error{
        border-color:red;
        box-shadow:0 6px 3px -3px rgba(red, .4);

        @include placeholder{
            color:red;
        }
    }
}

.g-input,
.g-select{
    @include px2rem(height, 38px);
}

.g-textarea{
    @include px2rem(min-height, $project-line-height*3);
}

.g-label{
    display: block;
    @include px2rem(margin-bottom, $project-line-height/3);
    font-weight: 600;

    &.error{
        color:red;
    }
}
.g-label__body{
    display: inline-block;
    @include px2rem(margin-left, $project-line-height/3);
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; }


